<template name="layout">
  <!-- header -->
  <div class="container-fluid">
    {{> header}}
    {{> errors}}
  </div>

  <!-- body -->
  <div class="container-fluid">
  {{#if currentUser}}
    <div class="row">
      <div class="col-sm-3">
        {{> nav_column }}
      </div>
      <div class="col-sm-9">
        <!-- column 2 -->
        <ul class="list-inline pull-right">
          <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">1. Is there a way..</a></li>
              <li><a href="#">2. Hello, admin. I would..</a></li>
              <li><a href="#"><strong>All messages</strong></a></li>
            </ul>
          </li>
          <li><a href="/myprofile"><i class="glyphicon glyphicon-user"></i></a></li>
          <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
        </ul>
        <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
        <hr>

        <div class="row">
          <!-- center left-->
          {{> yield}}
        <!--   {{> notifications}} -->
        </div>
        <!--/row-->
      </div>
      <!--/col-span-9-->
    </div>
  {{/if}}
  </div>
</template>